# A TOML linter such as https://taplo.tamasfe.dev/ can use this schema to validate your config.
# If you encounter any issues, please make an issue at https://github.com/yazi-rs/schemas.
"$schema" = "https://yazi-rs.github.io/schemas/keymap.json"

[mgr]

prepend_keymap = [
{ on   = "!", run  = 'shell "$SHELL" --block',         desc = "Open shell here"},
{ on   = "P", run  = "plugin smart-paste",             desc = "Paste into the hovered directory or CWD"},
{ on   = "b", run  = "plugin smart-tab",               desc = "Create a tab and enter the hovered directory"},
{ on   = "T", run  = "plugin toggle-pane min-preview", desc = "Show or hide the preview pane"},
{ on   = "F", run  = "plugin smart-filter",            desc = "Smart filter"},

{ on   = [ "c", "m" ], run  = "plugin chmod", desc = "Chmod on selected files"},

{ on = [ ",", "s", "a" ], run = [ "sort size --reverse=no", "linemode size", "sort alphabetical --reverse=no" ],   desc = "Calculate size, sort alphabetically" },
{ on = [ ",", "s", "s" ], run = [ "sort size --reverse=no", "linemode size"],   desc = "Sort by size" },

{ on = [ "s", "z" ], run  = "plugin what-size", desc = "Calc size of selection or cwd" },

#─────────────────────────── 
# {{{ SIMPLE-TAG PLUGIN
#─────────────────────────── 

#─────────────────────────── TOGGLE TAG(S) ────────────────────────────
# Toggle a tag (press any tag key)
# A tag hint window will show up.
# Simply press any tag key to toggle that tag for selected or hovered files/folders.
#{ on = [ "t", "t", "k" ], run = "plugin simple-tag -- toggle-tag", desc = "Toggle a tag (press any key)" },

# Fast Toggle tag(s) with fixed keys=!1q. key=!1q tag=!1q or tags=!1q also work
# NOTE: For key=" (Quotation mark), then use key=\" (Backslash + Quotation mark) instead.
#{ on = [ "`" ], run = "plugin simple-tag -- toggle-tag --keys=!1q", desc = "Toggle tag(s) with fixed tag key(s) = (! and 1 and q)" },
#{ on = [ "`" ], run = "plugin simple-tag -- toggle-tag --keys=*",   desc = "Toggle tag with fixed tag key = *" },
{ on = [ "`" ], run = "plugin simple-tag -- toggle-tag --key=1",    desc = "Toggle tag with fixed tag key = 1" },

# Toggle tag(s) with value from input box.
# A tag hint window and an input box will show up.
# Simply input tag key(s) to toggle that tags for selected or hovered files/folders.
# Do not input any delimiter.
#{ on = [ "t", "t", "i" ], run = "plugin simple-tag -- toggle-tag --input", desc = "Toggle tag(s) with value from (input box)" },


#─────────────────────────── ADD TAG(S) ───────────────────────────────
# Add a tag (press any tag key)
# A tag hint window will show up.
# Simply press any new tag key to add to selected or hovered files/folders.
{ on = [ "t", "a", "k" ], run = "plugin simple-tag -- add-tag", desc = "Add a tag (press any key)" },

# Fast Add tag(s) with fixed keys=!1q. key=!1q tag=!1q or tags=!1q also work
#{ on = [ "t", "a", "f" ], run = "plugin simple-tag -- add-tag --keys=!1q", desc = "Add tag(s) with fixed tag keys = (! and 1 and q)" },
#{ on = [ "t", "a", "f" ], run = "plugin simple-tag -- add-tag --keys=*",   desc = "Add tag with fixed tag key = *" },
{ on = [ "t", "a", "f" ], run = "plugin simple-tag -- add-tag --key=1",    desc = "Add tag with fixed tag key = 1" },

# Add tag(s) with value from input box.
# A tag hint window and an input box will show up.
# Simply input new tag key(s) to add to selected or hovered files/folders.
# Do not input any delimiter.
{ on = [ "t", "a", "i" ], run = "plugin simple-tag -- add-tag --input", desc = "Add tag(s) with value from (input box)" },


#─────────────────────────── REMOVE/DELETE TAG(S) ───────────────────────────
# Remove a tag (press any tag key)
# A tag hint window will show up.
# Simply press any tag key to be removed from selected or hovered files/folders.
{ on = [ "t", "d", "k" ], run = "plugin simple-tag -- remove-tag", desc = "Remove a tag (press any key)" },

# Fast Remove tag(s) with fixed keys=!1q. key=!1q tag=!1q or tags=!1q also work
#{ on = [ "t", "d", "f" ], run = "plugin simple-tag -- remove-tag --keys=!1q", desc = "Remove tag(s) with fixed tag keys = (! and 1 and q)" },
#{ on = [ "t", "d", "f" ], run = "plugin simple-tag -- remove-tag --keys=*",   desc = "Remove tag with fixed tag key = *" },
{ on = [ "t", "d", "f" ], run = "plugin simple-tag -- remove-tag --key=1",    desc = "Remove tag with fixed tag key = 1" },

# Remove tag(s) with value from input box.
# A tag hint window and an input box will show up.
# Simply input tag key(s) to be removed from selected or hovered files/folders.
# Do not input any delimiter.
{ on = [ "t", "d", "i" ], run = "plugin simple-tag -- remove-tag --input", desc = "Remove tag(s) with value from (input box)" },


#─────────────────────────── REPLACE ALL OLD TAG(S) WITH NEW TAG(S) ───────────────────────────
# Replace a tag (press any tag key)
# A tag hint window will show up.
# Simply press any new tag key for selected or hovered files/folders.
{ on = [ "t", "r", "k" ], run = "plugin simple-tag -- replace-tag", desc = "Replace with a new tag (press any key)" },

# Fast Replace tag(s) with fixed keys=!1q. key=!1q tag=!1q or tags=!1q also work
#{ on = [ "t", "r", "f" ], run = "plugin simple-tag -- replace-tag --keys=!1q", desc = "Replace tag(s) with fixed tag keys = (! and 1 and q)" },
#{ on = [ "t", "r", "f" ], run = "plugin simple-tag -- replace-tag --keys=*",   desc = "Replace tag(s) with fixed tag key = *" },
{ on = [ "t", "r", "f" ], run = "plugin simple-tag -- replace-tag --key=1",    desc = "Replace tag(s) with fixed tag key = 1" },

# Replace tag(s) with value from input box.
# A tag hint window and an input box will show up.
# Simply input new tag key(s) for selected or hovered files/folders.
# Do not input any delimiter.
{ on = [ "t", "r", "i" ], run = "plugin simple-tag -- replace-tag --input", desc = "Replace tag(s) with value from (input box)" },


#─────────────────────────── EDIT TAG(S) ───────────────────────────
# Edit a tag for hovered or selected files/folders
# An input box with current tagged keys and a tag hint window will show up for each hovered or selected files/folders.
# Simply edit tag key(s) for selected or hovered files/folders.
# If you cancel any input box, all changes will be discarded.
{ on = [ "t", "e" ], run = "plugin simple-tag -- edit-tag ", desc = "Edit tag(s) (input box)" },


#  ───────────────────────────── CLEAR TAG(S) ─────────────────────────────
# Clear all tags from selected or hovered files/folders
{ on = [ "t", "c" ], run = "plugin simple-tag -- clear", desc = "Clear all tags from selected or hovered files" },


#  ───────────────────────────── CHANGE UI ─────────────────────────────
# Switch tag indicator between icon > tag key > hidden.
# Useful when u don't remember the tag key
{ on = [ "t", "u", "s" ], run = "plugin simple-tag -- toggle-ui", desc = "Toggle tag indicator (icon > tag key > hidden)" },

# Fixed tag indicator mode = hidden (Available modes: hidden|icon|text)
{ on = [ "t", "u", "h" ], run = "plugin simple-tag -- toggle-ui --mode=hidden", desc = "Hide all tags indicator" },

#  ─────────────────────── FILTER FILES/FOLDERS BY TAGS: ───────────────────────
# Available filter modes:
# and → Filter files which contain all of selected tags (Default if mode isn't specified).
# or → Filter files which contain at least one of selected tags.

# Filter files/folders by tags

# Filter files/folders by a tag (press any tag key)
# A tag hint window will show up.
# Simply press any new tag key to filter files/folders containing that tag in current directory.
#{ on = [ "t", "f" ], run = "plugin simple-tag -- filter", desc = "Filter files/folders by a tag (press any key)" },

# Fast Filter files/folders with fixed keys=!1q. key=!1q tag=!1q or tags=!1q also work
 { on = [ "t", "t" ], run = "plugin simple-tag -- filter --key=1", desc = "Filter files/folders by a fixed tag = 1" },
# { on = [ "t", "f" ], run = "plugin simple-tag -- filter --keys=!1q", desc = "Filter files/folders by multiple fixed tag(s) (! and 1 and q)" },

# Filter files/folders by tag(s) with value from input box.
# An input box and a tag hint window will show up.
# Simply input tag key(s) to filter files/folders of current directory.
# Do not input any delimiter.
# For example: Input value or --keys=!1q -> filter any files/folders contain all of these tags (! and 1 and q) in current directory.
#{ on = [ "t", "F" ], run = "plugin simple-tag -- filter --input", desc = "Filter files/folders by tag(s) (input box)" },

# Filter files/folders by tag(s) with --mode=or.
# --mode=or -> Input value or --keys = !1q -> filter any files/folders contain at least one of these tags (! or 1 or q)
{ on = [ "t", "F" ], run = "plugin simple-tag -- filter --input --mode=or", desc = "Filter files/folders by contain tags (input box)" },
# { on = [ "t", "F" ], run = "plugin simple-tag -- filter --keys=!1q --mode=or", desc = "Filter files/folders by multiple fixed tag(s) (! or 1 or q)" },


#  ─────────────────────── VISUAL SELECT FILES/FOLDERS BY TAGS: ───────────────────────

# Avaiable selection actions:
# replace → Replaces the current selection list with files/folders that have the selected tag.
# unite → Combines the currently selected files/folders with those that have the selected tag.
# intersect → Keeps only the files/folders that are present in both the current selection and the tagged items.
# subtract → Deselects files/folders that have the selected tag.
# exclude → Keeps only the files/folders that do not have the selected tag.
# undo → Undos or redoes the last selection action.

# which_key will popup to choose selection mode
# And a tag hint window will show up.
# Simply select a selection mode then press any tag key to select files/folders
#{ on = [ "t", "s", "t" ], run = "plugin simple-tag -- toggle-select", desc = "Select a selection action then select a tag key (toggle-select)" },
# fixed tag(s). --keys=!1q or --key=!1q or --tag=!1q or --tags=!1q. They are the same.
{ on = [ "t", "s", "t" ], run = "plugin simple-tag -- toggle-select --key=*", desc = "" },

# Run action on files/folders by a tag.
# A tag hint window will show up.
# Simply press any tag key to do the folowing action:
{ on = [ "t", "s", "r" ], run = "plugin simple-tag -- replace-select",            desc = "replace-select" },
{ on = [ "t", "s", "u" ], run = "plugin simple-tag -- unite-select",              desc = "unite-select" },
{ on = [ "t", "s", "i" ], run = "plugin simple-tag -- intersect-select",          desc = "intersect-select" },
{ on = [ "t", "s", "s" ], run = "plugin simple-tag -- subtract-select",           desc = "subtract-select" },
{ on = [ "t", "s", "e" ], run = "plugin simple-tag -- exclude-select",            desc = "exclude-select" },
# Run action on files/folders by fixed tag(s). --keys=!1q or --key=!1q or --tag=!1q or --tags=!1q. They are the same.
{ on = [ "t", "s", "e" ], run = "plugin simple-tag -- replace-select --keys=!1q", desc = "Replaces the current selection list with files/folders that have (! and 1 and q) tag(s)" },

# Run action on files/folders by tag(s) with value from input box.
# A tag hint window will show up.
# Simply input tag key(s) to do the folowing action:
{ on = [ "t", "s", "R" ], run = "plugin simple-tag -- replace-select --input",              desc = "replace-select --input" },
{ on = [ "t", "s", "U" ], run = "plugin simple-tag -- unite-select --input",                desc = "unite-select --input" },
{ on = [ "t", "s", "I" ], run = "plugin simple-tag -- intersect-select --input",            desc = "intersect-select --input" },
{ on = [ "t", "s", "S" ], run = "plugin simple-tag -- subtract-select --input",             desc = "subtract-select --input" },
{ on = [ "t", "s", "E" ], run = "plugin simple-tag -- exclude-select --input",              desc = "exclude-select --input" },
# it also support --mode=or when using with --input or --keys=!1q or --key=!1q or --tag=!1q or --tags=!1q
{ on = [ "t", "s", "R" ], run = "plugin simple-tag -- replace-select --input --mode=or",    desc = "replace-select --input --mode=or" },
{ on = [ "t", "s", "R" ], run = "plugin simple-tag -- replace-select --keys=!1q --mode=or", desc = "replace-select --keys=!1q --mode=or" },

# Undo/Redo selection (only works after using 5 modes above)
{ on = [ "t", "s", "u" ], run = "plugin simple-tag -- undo-select", desc = "Undos/Redos the last selection action" },

#─────────────────────────── 
# end SIMPLE-TAG }}}
#─────────────────────────── 

#─────────────────────────── 
# {{{ EZA-PREVIEW PLUGIN (https://github.com/ahkohd/eza-preview.yazi.git)
#─────────────────────────── 
{ on   = [ "E" ], run = "plugin eza-preview",                        desc = "Toggle tree/list dir preview"},
{ on   = [ ")" ], run = "plugin eza-preview inc-level",              desc = "Increment tree level"},
{ on   = [ "(" ], run = "plugin eza-preview dec-level",              desc = "Decrement tree level"},
{ on   = [ "$" ], run = "plugin eza-preview toggle-follow-symlinks", desc = "Toggle tree follow symlinks"},
{ on   = [ "*" ], run = "plugin eza-preview toggle-hidden",          desc = "Toggle hidden files"},
#─────────────────────────── 
# end EZA-PREVIEW }}}
#─────────────────────────── 

#─────────────────────────── 
# {{{ CUSTOM GO-TOs
#─────────────────────────── 
{ on = [ "g", "0" ], run = "cd ~/apr-docs",           desc = "Goto ~/apr-docs"},
{ on = [ "g", "1" ], run = "cd ~/apr-docs/computer", desc = "Goto ~/apr-docs/computer"},
{ on = [ "g", "2" ], run = "cd ~/apr-docs/teaching", desc = "Goto ~/apr-docs/teaching"},
{ on = [ "g", "3" ], run = "cd ~/apr-docs/work",     desc = "Goto ~/apr-docs/work"},
{ on = [ "g", "4" ], run = "cd ~/apr-music",         desc = "Goto ~/apr-music"},
{ on = [ "g", "G" ], run = "cd ~/'My Drive'",      desc = "Goto Google Drive"},
{ on = [ "g", "b" ], run = "cd ~/bin",      desc = "Goto bin"},
{ on = [ "g", "k" ], run = "cd ~/Desktop",      desc = "Goto Desktop"},
{ on = [ "g", "t" ], run = "cd ~/apr-docs/computer/mytips", desc = "Goto ~/apr-docs/computer/mytips"},
{ on = [ "g", "v" ], run = "cd ~/.vim",      desc = "Goto vim"},
{ on = [ "g", "y" ], run = "cd ~/.config/yazi",      desc = "Goto yazi"},
{ on = [ "g", "." ], run = "cd ~/dotfiles",      desc = "Goto dotfiles"},
{ on = [ "g", "U" ], run = "cd ~/Library/CloudStorage/OneDrive-UniversityofNewBrunswick",      desc = "Goto UNB OneDrive"},
#─────────────────────────── 
# end CUSTOM GO-TOs }}}
#─────────────────────────── 

#─────────────────────────── 
# {{{ YAMB PLUGIN
#─────────────────────────── 
{ on = [ "u", "a" ], run = "plugin yamb save",          desc = "Add bookmark"},
{ on = [ "u", "g" ], run = "plugin yamb jump_by_key",   desc = "Jump bookmark by key"},
{ on = [ "u", "G" ], run = "plugin yamb jump_by_fzf",   desc = "Jump bookmark by fzf"},
{ on = [ "u", "d" ], run = "plugin yamb delete_by_key", desc = "Delete bookmark by key"},
{ on = [ "u", "D" ], run = "plugin yamb delete_by_fzf", desc = "Delete bookmark by fzf"},
{ on = [ "u", "A" ], run = "plugin yamb delete_all",    desc = "Delete all bookmarks"},
{ on = [ "u", "r" ], run = "plugin yamb rename_by_key", desc = "Rename bookmark by key"},
{ on = [ "u", "R" ], run = "plugin yamb rename_by_fzf", desc = "Rename bookmark by fzf"},
#─────────────────────────── 
# end YAMB }}}
#─────────────────────────── 

#─────────────────────────── 
# {{{ CUSTOM SEARCH
#─────────────────────────── 
{ on = [ "s", "s" ], run = "search --via=fd --args='--no-ignore-vcs --follow'",                                             desc = "Search via fd, include vcs"},
{ on = [ "s", "a" ], run = "search --via=fd --args='--no-ignore-vcs --hidden'",                                    desc = "Search via fd, include hidden"},
{ on = [ "s", "t" ], run = "search --via=fd --args='-I --ignore-file=/Users/preynol1/.config/fd/ign-except-text'", desc = "Search via fd, text-only"},
#{ on = "S", run = "search --via=ug", desc = "Search ivia ug"},
#─────────────────────────── 
# end CUSTOM SEARCH }}}
#─────────────────────────── 

#─────────────────────────── 
# {{{ CUSTOM ZOXIDE
#─────────────────────────── 
{ on = [ "z", "a" ], run = "shell --interactive 'zoxide add $0'",    desc = "Add dir to zoxide"},
{ on = [ "z", "r" ], run = "shell --interactive 'zoxide remove $0'", desc = "Remove dir from zoxide"},
{ on = [ "z", "z" ], run = "plugin zoxide",                          desc = "Jump to a directory via zoxide"},
{ on = "Z",         run = "plugin fzf",                  desc = "Jump to a file/directory via fzf" },
#─────────────────────────── 
# end CUSTOM ZOXIDE }}}
#─────────────────────────── 

#─────────────────────────── 
# {{{ BUNNY PLUGIN 2025-07-24 tried bunny plugin but I prefer yamb, as it allows creation of persistent bookmarks
#─────────────────────────── 
#{ on = ";", run = "plugin bunny", desc = "Start bunny.yazi"}

# Optionally, add another keymap to immediately fuzzy search bookmarks
#[[mgr.prepend_keymap]]
#desc = "Start bunny.yazi fuzzy search"
#on = "'"
#run = "plugin bunny fuzzy"
#─────────────────────────── 
# end BUNNY PLUGIN }}} 
#─────────────────────────── 
]
